<div *ngIf="this.login">
    <nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light" style="">
<div class="imgDiv">
    <img style="width:100%;" src="../assets/logoMenu.png">
</div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <app-clock style="margin: auto;"></app-clock>
            </li>

            <li class="nav-item config" >
                <div>
                    <h1 (click)="logOut()">התנתק</h1>
                    <h1>הגדרות</h1>
                </div>
            </li>
        </ul>
        <!-- <div style=" text-align: center;display: flex;">
            <div>
                <h1>13:50</h1>
                <h1>יום א'</h1>
            </div>
            <div style="">
                <h1>הגדרות</h1>
                <h1>התנתק</h1>
            </div>
        </div> -->


    </nav>