h1 {
    text-align: center;
    margin: auto;
}

ul {
    width: -webkit-fill-available;
}

.imgDiv {
    width: 30%;
    padding-right: 5%;
}

.config h1 {
    float: left;
    padding-left: 5%;
}

nav {
    border-bottom: 2px dashed black;
    margin-bottom: 3px;
    max-height: 50px;
}

@media screen and (max-width: 992px) {
    .imgDiv {
        width: 100%;
        padding: 9%;
    }

    ul {
        width: max-content;
        display: contents;
    }

    ul li {
        width: max-content;
    }

    .config {
        display: none;
    }

    nav {
        max-height: none;
    }

    .navigationBarSpecial {
        position: initial !important;
        z-index: 1;
    }

}

.nav-item {
    width: 45%;
    margin: auto;
}





.navigationBarSpecial {
    position: fixed;
    z-index: 1;
}