<!-- <div style="height: auto;height: 100%;
background-image: linear-gradient(0deg,#6BD9F2, #88D4F2, #F2F2F2, #F2F2F2, #F2F2F2); 
"> -->
<div style="display: flex;height: -webkit-fill-available;">
    <div style="height: initial;width: 60%;
background-image:url(../assets/backgroung.jpg);
background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;">
        <div style="background-image:url(../assets/barberAbstractIcon.png);
background-size: 7%;
    background-repeat: no-repeat;
    background-position: center top;
    height: -webkit-fill-available;
    width: 100%;
    margin-top: 6%;
    ">
           <div dir="rtl" style="width:40%;margin: auto;padding-top: 18%;
           text-align: center;">
            <div>
                <h1 style="color: white;">ניהול כל הלקוחות שלך,בקליק.</h1>
                <p style="color: white;font-size: medium;">- ניהול תורים</p>
                <p style="color: white;font-size: medium;">- תצוגה ידידותית</p>
                <p style="color: white;font-size: medium;">- תזכורות ללקוחות</p>
            </div>
        </div>  
        </div>
      
    </div>
    <div dir="rtl" style="width:40%;float:right;margin: auto;margin-right: 15px;">
        <div style="margin-right: 50px;">
            <h1 style="font-weight:bold;">צהריים טובים!</h1>
            <h2>התחברות</h2>
        </div>
        <app-generic-form [properties]=properties></app-generic-form>
        <hr style="margin: auto;background-color: #212529;height: 2px;border: 0;margin-left: 10px;
        margin-right: 10px;">
        <div style="text-align: center;">
            <span>לחץ <b style="text-decoration: underline">כאן</b> כדי להירשם</span>
        </div>
    </div>
</div>
<!-- <app-progress-bar [precent]=70></app-progress-bar> -->