<h1 style="text-align: center;font-family: American typewriter;">{{dateSTR}}</h1>
<ul class="ul">
    <li class="li">
        <button (click)="nextDay()">
            <--</button>
    </li>
    <li class="li">
        <h1 dir="rtl" style="text-align: center;">{{dayText}}</h1>
    </li>
    <li class="li">
        <button (click)="previusDay()">--></button>
    </li>
</ul>
<div *ngFor="let appointment of appointments;index as i" (click)="actionCard()">
    <app-customer-table-card [appointment]="appointment" [date]="date"></app-customer-table-card>
</div>
<div dir="rtl" class="customerArea">
    <!-- <table *ngIf="appointments">
        <thead>
            <tr>
                <th>הזנה</th>
                <th>שעה</th>
                <th>פרטים</th>
                <th>פעולות</th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="realAppointments && realAppointments!.length===0">
                <h1 dir="rtl" style="text-align: center;">לא נקבעו תורים</h1>
            </div>
            <tr *ngFor="let appointment of appointments;index as i">
                <td>{{getSource(appointment.customer?.source!)}}</td>
                <td style="font-family: American typewriter;">{{appointment.startTime}}</td>
                <td>
                    <p>{{getNameText(appointment.customer?.name!)}}</p>
                    <p *ngIf="getStatus(appointment.customer?.phoneNumber!)" style="font-family: American typewriter;">
                        {{appointment.customer?.phoneNumber!}}</p>
                </td>
                <td dir="rtl">
                    <span *ngIf="!(appointment.customer?.name==='dummy')" style="cursor:pointer"
                        (click)="openSwapDialog(appointment)">החלף</span>
                    <span *ngIf="!(appointment.customer?.name==='dummy')" style="cursor:pointer"
                        (click)="openDelayDialog(appointment)">עיכוב</span>
                    <span *ngIf="!(appointment.customer?.name==='dummy')" style="cursor:pointer"
                        (click)="openDeleteDialog(appointment)">ביטול</span>
                    <div class="setAppointment" *ngIf="(appointment.customer?.name==='dummy')"
                        (click)="openSetAppointmentDialog(appointment)"></div>

                        <div class="actionCard" *ngIf="cardOpen">this card is open</div>
                </td>
            </tr>
        </tbody>
    </table> -->
    <div>
        <span class="statistics">{{getCustomersStatistics()}}</span>
    </div>
</div>