<h1 style="text-align: center;">{{dateSTR}}</h1>
<div  dir="rtl" class="customerArea">
    <table>
        <thead>
            <tr>
                <th>הזנה</th>
                <th>שעה</th>
                <th>פרטים</th>
                <th>פעולות</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let appointment of appointments;index as i">
                <td>{{getSource(appointment.customer?.source!)}}</td>
                <td>{{appointment.startTime}}</td>
                <td>{{appointment.customer?.name!}}</td>
                <td><span>החלף</span><span>עיכוב</span><span>ביטול</span></td>
            </tr>
        </tbody>
    </table>
    <div>
        <span class="statistics">{{getCustomersStatistics()}}</span>
    </div>
</div>