::ng-deep .mat-calendar-body-cell-content {
    border: 1px solid black;
}

 ::ng-deep .mat-calendar-body-cell-container{
    /* border-color:black ;
    border: 3px solid black; */
    padding: 20%;
    font-family: American typewriter;
} 

.mat-calendar-body-today {
    color: red;
    background-color: rgb(17, 255, 0);
    border: 10px solid rgb(255, 0, 200);
}

::ng-deep .mat-calendar-body-cell-content .mat-focus-indicator .mat-calendar-body-selected .mat-calendar-body-today {
    color: red;
    background-color: rgb(255, 174, 0);
    border: 10px solid blue;
}

::ng-deep .mat-calendar-body-cell-content .mat-focus-indicator .mat-calendar-body-today {
    color: red;
    background-color: rgb(255, 174, 0);
    border: 10px solid blue;
}

ul {
    margin-top: 5%;
    display: flex;
    list-style: none;
}

ul li {
    margin: auto;
    font-size: larger;
}

.bold {
    font-weight: bold;
}

.regular {
    font-weight: unset;
}

.contenContainer {}



.oneDotElement {

}



