<!-- <div style="height: auto;height: 100%;
background-image: linear-gradient(0deg,#6BD9F2, #88D4F2, #F2F2F2, #F2F2F2, #F2F2F2); 
"> -->
<div style="display: flex;height: -webkit-fill-available;">
    <div class="loginFirstContainer">
        <div dir="rtl" style="padding-top: 15%;
            text-align: center;
            margin-right: 10%;display: inline-block;">
            <div>
                <div style="color: white;float: right;font-size: large;">
                    <h1>ניהול המספרה, זה בידיים שלך.</h1>
                </div>
            </div>
            <div style="display: flex;width: 100%;">
                <img src="../assets/Scizors.PNG" style="max-width: -webkit-fill-available;    max-width: -webkit-fill-available;
                    width: 60%;float: center;margin: auto;">
            </div>
            <div style="display: inline-block;float: right;
                margin: inherit;">

                <h1 style="color: white;font-size: medium;float: right;">- ניהול תורים</h1><br>


                <h1 style="color: white;font-size: medium;float: right;">- תצוגה ידידותית</h1><br>
                <h1 style="color: white;font-size: medium;float: right;">- תזכורות ללקוחות</h1><br>
            </div>
        </div>
    </div>
    <div dir="rtl" class="loginSecondContainer">
        <div style="display: flex;">
            <img src="../assets/logo.PNG" style="max-width: -webkit-fill-available;    max-width: -webkit-fill-available;
        width: 60%;float: center;margin: auto;">
        </div>
        <div>



            <h2 class="h1V2" style="font-size: 15px;margin: 0;text-align: center;">התחברות</h2>
        </div>
        <app-generic-form [properties]=properties></app-generic-form>
        <hr class="grey" style="margin: auto;height: 2px;border: 0;margin-left: 10px;
        margin-right: 10px;">
        <div style="text-align: center;">
            <span>לחץ <b style="text-decoration: underline">כאן</b> כדי להירשם</span>
        </div>
    </div>
</div>
<!-- <app-progress-bar [precent]=70></app-progress-bar> -->